$themeColor = #339af0
$bannerTextColor = #fff // 首页banner区(博客标题)文本颜色
$accentColor = #339af0 // 主题色
$activeColor = #ff5722
$arrowBgColor = #ccc

// // 颜色

// $bannerTextColor = #fff // 首页banner区(博客标题)文本颜色
// $accentColor = #11A8CD // 主题色
// $activeColor = #ff5722
// $arrowBgColor = #ccc

// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 18rem
// $contentWidth = 860px
// $homePageWidth = 1100px
// $rightMenuWidth = 230px // 右侧菜单

// // 代码块
// $lineNumbersWrapperWidth = 2.5rem

// // 浅色模式
 .theme-mode-light
   --bodyBg: #f4f4f4
   --mainBg: rgba(255,255,255,1)
   --sidebarBg: rgba(255,255,255,.8)
   --blurBg: rgba(255,255,255,.9)
   --textColor: #004050
   --textLightenColor: #ff0000
   --borderColor: rgba(0,0,0,.15)
   // 代码块浅色主题
   --codeBg: #ecf4fa
   --codeColor: #525252
   codeThemeLight()
   // // 代码块深色主题
   // --codeBg: #252526
   // --codeColor: #fff
   // codeThemeDark()

// // 深色模式
// .theme-mode-dark
//   --bodyBg: rgb(39,39,43)
//   --mainBg: rgba(30,30,34,1)
//   --sidebarBg: rgba(30,30,34,.8)
//   --blurBg: rgba(30,30,34,.8)
//   --textColor: rgb(140,140,150)
//   --textLightenColor: #0085AD
//   --borderColor: #2C2C3A
//   --codeBg: #252526
//   --codeColor: #fff
//   codeThemeDark()

// // 阅读模式
// .theme-mode-read
//   --bodyBg: rgb(240,240,208)
//   --mainBg: rgba(245,245,213,1)
//   --sidebarBg: rgba(245,245,213,.8)
//   --blurBg: rgba(245,245,213,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   --codeBg: #282c34
//   --codeColor: #fff
//   codeThemeDark()

//设置sidebar宽度
//$sidebarWidth = 16rem
//$sidebarMobileWidth= 11rem;

//设置归档宽度
.archives-page .theme-vdoing-wrapper {
  max-width: 720px;
}

//设置归档文件距离左侧菜单距离
/*
.post-list .post {
  margin-left: 135px;
}
*/



/*手机*/
@media screen and (max-width:600px) {
  .footer{
    display none;
  }
}
/*平板*/
@media screen and (min-width:600px) and (max-width:960px) {
  .main-wrapper .main-left {
    margin-left: 135px;
  }
  .footer{
    display none;
  }

}
/*PC*/
@media screen and (min-width:960px){
  //设置归档文件距离左侧菜单距离
  .main-wrapper .main-left {
    margin-left: 135px;
  }
}

//设置底部不展示
@media screen {
  .no-sidebar .footer {
    display :none;
  }
  .sidebar-open .footer {
    display :none;
  }
}

//设置评论底部不可见
.v[data-class="v"] .txt-right {
  display :none;
}

//设置评论M图标不可见且不可点击
.v[data-class="v"] .vrow .vcol.vcol-30 {
  visibility: hidden;
}

//更改分享按钮位置
.social-share-global {

  bottom: 60%;

}

//隐藏Repo
.nav-links .repo-link {
  display: none;
}
.sidebar .nav-links .repo-link {
  display: none;
}






