//$theme-color= #3eaf7c;

//设置sidebar宽度
//$sidebarWidth = 16rem
//$sidebarMobileWidth= 11rem;

//设置归档宽度
.archives-page .theme-vdoing-wrapper {
  max-width: 720px;
}

//设置归档文件距离左侧菜单距离
//.post-list .post {
//  margin-left: 135px;
//}

//设置归档文件距离左侧菜单距离
.main-wrapper .main-left {
  margin-left: 135px;
}

//设置底部不展示
.no-sidebar .footer {
  display :none;
}

@media (min-width: 720px){
  .sidebar-open .footer {
    display :none;
  }
}

//设置评论底部不可见
.v[data-class="v"] .txt-right {
  display :none;
}