//$theme-color= #3eaf7c;

//设置sidebar宽度
//$sidebarWidth = 16rem
//$sidebarMobileWidth= 11rem;

//设置归档宽度
.archives-page .theme-vdoing-wrapper {
  max-width: 720px;
}

//设置归档文件距离左侧菜单距离
/*
.post-list .post {
  margin-left: 135px;
}
*/

//设置归档文件距离左侧菜单距离

/*手机*/
@media screen and (max-width:600px) {

}
/*平板*/
@media screen and (min-width:600px) and (max-width:960px) {

}
/*PC*/
@media screen and (min-width:960px){
  .main-wrapper .main-left {
    margin-left: 135px;
  }
}

//设置底部不展示
@media screen {
  .no-sidebar .footer {
    display :none;
  }
  .sidebar-open .footer {
    display :none;
  }
}

//设置评论底部不可见
.v[data-class="v"] .txt-right {
  display :none;
}